<h1>Hello! I'm Efrain.</h1>
<p>
  I'm Developer based in Medellin, Colombia, specializing in data-related projects,
  complex systems, and teaching. Currently employed as a Software Developer at Metnet.
  Graduated from Universidad Nacional de Colombia in 2023 with a degree in Mathematics.
  Skilled in backend development, data engineering, and DevOps. Also I'm interested
  in computer graphics for educational purposes. Passionate about continuous learning
  and contributing to open-source projects.
</p>
<div class="links">
  <a target="_blank" href="https://gitlab.com/users/efpalaciosmo/projects"
    ><img src="assets/links/github.png" alt />
    <div class="hidden-label">github</div></a
  >
  <a target="_blank" href="https://www.linkedin.com/in/efpalaciosmo/"
    ><img src="assets/links/codepen.png" alt />
    <div class="hidden-label">linkedin</div></a
  >
  <a target="_blank" href="https://efpalaciosmo.github.io/"
    ><img src="assets/links/tiktok.png" alt />
    <div class="hidden-label">blog</div></a
  >
  <a target="_blank" href="https://twitter.com/efpalaciosmo"
    ><img src="assets/links/instagram.png" alt />
    <div class="hidden-label">twitter</div></a
  >
</div>
